.img {
    width: 100%;
    height: 300px;
    transition: transform .5s ease;
}

.img-bt{
    height: 475px;
}

.card {
    background: none;
    border: none;
}

.card p {
    /*visibility: hidden;*/
    opacity: 0;
    transition: opacity .5s ease;
}

.card:hover p {
    /* visibility: visible; */
    opacity: 1;
}

.card:hover h5{
    color: #eed6fe;
}

.body-card {
    margin: 15px 0;
}

.card:hover img {
    transform: scale(1.1);
}

.img-card {
    overflow: hidden;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .card p {
        opacity: 1;
    }
    .img{
        height: auto;
    }
}

.disabled-link{
    cursor: default;
    pointer-events: none;
}
