.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slide-track {
    display: flex;
    animation: scroll 10s linear infinite;
    width: calc(70px * 16);
}

.slide {
    height: 70px;
    margin: 0 30px;
    width: 70px;
}

.slide img {
    width: 100%;
    height: 100%;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-70px * 8));
    }
}